.container {
    text-align: center;
}

#imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.image {
    margin: 10px;
}

.image img {
    width: 100px; /* Tamaño de la imagen */
    height: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.input-section {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.input-section input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

.input-section button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.content-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    max-width: 1200px;
}

.video-section, .text-section {
    width: 100%;
    margin-bottom: 20px;
}

video, canvas {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.text-section h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.text-section textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    border: 1px solid #ccc;
}

#imageContainer {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    text-align: center;
}

.boton {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 15px 30px; /* Tamaño del botón */
    font-size: 16px; /* Tamaño de la fuente */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambio de cursor al pasar el ratón */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del botón */
    transition: background-color 0.3s, transform 0.2s; /* Transición suave */
}

/* Efecto hover cuando el ratón está sobre el botón */
.boton:hover {
    background-color: #45a049; /* Cambia el color de fondo */
    transform: translateY(-2px); /* Efecto de elevación al hacer hover */
}

/* Efecto cuando se presiona el botón */
.boton:active {
    background-color: #3e8e41; /* Cambia a un color más oscuro al presionar */
    transform: translateY(2px); /* Efecto de presionado */
}